<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISnippetCacheDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52916/SnippetCacheDataService.svc" binding="basicHttpBinding"
                      bindingConfiguration="BasicHttpBinding_ISnippetCacheDataService" contract="DataService.ISnippetCacheDataService"
                      name="BasicHttpBinding_ISnippetCacheDataService" />
        </client>
    </system.serviceModel>
</configuration>