<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <threshold value="INFO" />
            <file value="Log\snippetcache.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="'.'yyyyMMdd'.log'" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger %X{user} %X{url} - %message %newline" />
            </layout>
        </appender>
        <appender name="SmtpAppenderError" type="log4net.Appender.SmtpAppender">
            <!--Set threshold for this appender-->
            <threshold value="ERROR" />
            <to value="[someone]@[somewhere.com]" />
            <from value="[someone]@[somewhere.com]" />
            <subject value="Error from [applicationname]" />
            <smtpHost value="[100.100.100.100]" />
            <bufferSize value="1" />
            <lossy value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level
                %logger %X{user} %X{url} - %message%newline" />
            </layout>
        </appender>

        <appender name="SmtpAppenderNotify" type="log4net.Appender.SmtpAppender">
            <!--Set threshold for this appender-->
            <threshold value="INFO" />
            <to value="[someone]@[somewhere.com]" />
            <from value="[someone]@[somewhere.com]" />
            <subject value="Error from [applicationname]" />
            <smtpHost value="[100.100.100.100]" />
            <bufferSize value="1" />
            <lossy value="false" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date - %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="Error" />
        </root>

        <logger name="Application">
            <!--Set level for this logger-->
            <level value="INFO" />
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="SmtpAppenderError" />
        </logger>

        <logger name="Notify">
            <!--Set level for this logger-->
            <level value="INFO" />
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="SmtpAppenderNotify" />
        </logger>
    </log4net>
</configuration>