<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <connectionStrings>
        <!--<add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="aspnetdbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <add name="aspnetdbConnectionString" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_252953_dreadnaught;Persist Security Info=True;User ID=SQL2008_252953_dreadnaught_user;Password=Ng646qam"/>
        <add name="ApplicationServices" connectionString="Data Source=sql2k801.discountasp.net;Initial Catalog=SQL2008_252953_dreadnaught;Persist Security Info=True;User ID=SQL2008_252953_dreadnaught_user;Password=Ng646qam"/>
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="1.0.0.0" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <system.web>
        <httpHandlers>
            <add verb="*" path="*.png" type="SnippetCache.WebUI.Infrastructure.Handlers.ImageHttpHandler" />
        </httpHandlers>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <sessionState mode="InProc" />
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>
        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
            </providers>
        </membership>
        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>
        <roleManager enabled="false" defaultProvider="AspNetSqlRoleProvider">
            <providers>
                <clear />
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true"></modules>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>

            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISnippetCacheManagerService" />
                <binding name="BasicHttpBinding_ISnippetCacheDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nategreenwood.com/services/snippetcache/DataWcf/SnippetCacheDataService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISnippetCacheDataService"
              contract="SnippetCacheDataService.ISnippetCacheDataService"
              name="BasicHttpBinding_ISnippetCacheDataService" />
            <endpoint address="http://nategreenwood.com/services/snippetcache/ManagersWcf/SnippetCacheManagerService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISnippetCacheManagerService"
              contract="ManagerService.ISnippetCacheManagerService" name="BasicHttpBinding_ISnippetCacheManagerService" />
        </client>
    </system.serviceModel>
</configuration>