<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="SnippetCacheEntitiesContainer"
             connectionString="metadata=res://*/Model.SnippetCacheEntities.csdl|res://*/Model.SnippetCacheEntities.ssdl|res://*/Model.SnippetCacheEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SnippetCache;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
             providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISnippetCacheDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://snippetcache.net/services/snippetcache/DataWcf/SnippetCacheDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISnippetCacheDataService"
                contract="SnippetDataService.ISnippetCacheDataService" name="BasicHttpBinding_ISnippetCacheDataService" />
        </client>
    </system.serviceModel>
</configuration>