@model SnippetCache.WebUI.Areas.Snippets.Models.CreateSnippetModel
<table>
    <tbody>
        <tr>
            <td>
                <div>
                    @Html.ActionLink("Create", "Create", "Public", new {area = "Snippets"}, null)
                </div>
                <div>
                    @Html.ActionLink("Cancel", "All", "Public", new {area = "Snippets"}, null)
                </div>
            </td>
        </tr>
    </tbody>
</table>