@model SnippetCache.WebUI.Areas.Users.Models.UserModel.UserDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>@Model.UserName Profile</div>